<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="css/style.css" >
    <script src="/js/app.js"> </script>
    <link rel="icon" href={{img_src}}>
    <body>
        <div class="main-content">
            {{>header}}
        </div>
        <p>{{message}}</p>
        {{>footer}}
    </body>
</head>
</html>