<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="css/style.css" >
    <link rel="icon" href={{img_src}}>
    <body>
       <div class="main-content">
            {{>header}}
            <p>This site is created by Nishant Chaturvedi. It uses data from mapbox.com and darksky.net!</p>
            <img class="portrait" src={{img_src}}>
        </div>
        {{>footer}}
    </body>
</head>
</html>