<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="css/style.css" >
    <link rel="icon" href={{img_src}}>
    <body>
       <div class="main-content">
            {{>header}}
            <img class="portrait" src={{img_src}}>
        </div>

        
        {{>footer}}
    </body>
</head>
</html>